%tr
  %td{:valign => "top"}
    %table{:align => "center", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
      %tbody
        %tr
          %td{:background => "http://www.tmoves.com/assets/article-title-bg.jpg", :bgcolor => "#c8cfd8", :height => "49", :style => "vertical-align:middle; border-left-width: 1px; border-left-color: #BAC2CC; border-left-style: solid; border-right-width: 1px; border-right-color: #BAC2CC; border-right-style: solid; border-bottom-width: 1px; border-bottom-color: #98a3b4; border-bottom-style: solid; border-top-width: 1px; border-top-color: #BAC2CC; border-top-style: solid;", :valign => "middle", :width => "100%"}
            %h3.textshadow{:style => "margin:0; margin-left: 17px; padding:0; font-size: 18px; font-weight: normal; color:#324258;"}
              = report[:title]
        %tr
          %td{:bgcolor => "#CDCFD2", :height => "30", :style => "vertical-align:middle; border-left-width: 1px; border-left-color: #BAC2CC; border-left-style: solid; border-right-width: 1px; border-right-color: #BAC2CC; border-right-style: solid; border-bottom-width: 1px; border-bottom-color: #98a3b4; border-bottom-style: solid; border-top-width: 1px; border-top-color: #BAC2CC; border-top-style: solid;", :valign => "middle", :width => "100%"}
            %table{:width => "100%"}
              %tbody
                %tr
                  %td
                    %h4.textshadow{:style => "margin:0; margin-left: 10px; padding:0; font-family:arial;font-size: 13px; font-weight: bold; color:#324258;"}
                      Keywords
                    %tr
                      %td{:bgcolor => "#edeff2", :style => "padding: 10px; border-left-width: 1px; border-left-color: #bac2cc; border-left-style: solid; border-right-width: 1px; border-right-color: #bac2cc; border-right-style: solid; border-top-width: 1px; border-top-color: #ffffff; border-top-style: solid; border-bottom-width: 3px; border-bottom-color: #ffffff; border-bottom-style: solid;", :valign => "top"}
                        %table{:style => "width:100%"}
                          %tbody
                            - report[:keywords].each do |result|
                              - if result[:keyword_traffic].present?
                                - keyword_str = result[:keyword_traffic].keyword_str
                                %tr{:style => "border-bottom:1px solid #98a3b4;font-size:12px;font-family:arial"}
                                  %td{:style => "border-bottom:1px solid #98a3b4;padding-bottom:5px;padding-top:5px;"}
                                    = link_to keyword_str, "http://www.tmoves.com/info/#{keyword_str.gsub(/\s/,'-')}/#{result[:keyword_traffic].keyword_id.to_s}"
