<%= form_for(@keyword_chart) do |f| %>
  <% if @keyword_chart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@keyword_chart.errors.count, "error") %> prohibited this keyword_chart from being saved:</h2>

      <ul>
      <% @keyword_chart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
