%h1 Listing keyword_charts
%table
  %tr
    %th
    %th
    %th
  - @keyword_charts.each do |keyword_chart|
    %tr
      %td= link_to 'Show', keyword_chart
      %td= link_to 'Edit', edit_keyword_chart_path(keyword_chart)
      %td= link_to 'Destroy', keyword_chart, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Keyword chart', new_keyword_chart_path