<div style="width:95%; margin:0 auto; min-height:500px" class="content-box-3">

<H2> About Us </H2>

<p>
Finfore is a company that is focused on providing technology solutions to professionals in Finance and their employers.
</p>

<p>
Finfore is a web-services business, delivering solutions to the the finance professionals. Designed by finance professionals our core mission is to improve how finance professionals work. To often products are designed with a technology in mind rather than the actual needs of the end user. Financial professionals are users with unique constraints. Given we are led by a team of finance professionals we have a clear insight into the needs of our customers.
</p>

<p>
Reliable, secure, and easy to use products are at the core of our operations. Without these attributes, we do not think any new tool for the financial community will displace the existing practices, even if there is a significant cost saving. Helping our users gain a competitive edge is what counts, and they are willing to pay for it.
</p>

<p>
Finfore started operations in early 2010, with an office based in London. We have a philosophy of looking at the core user-experience of the specific functions in finance that we target, and consider what is the optimal structure, regardless of technology of historic business processes. We seek to eliminate laborious tasks for junior team members, increase the access to high quality real-time data to all participants. All of which drive our goal in increasing transparency and efficiency in finance.
</p>


</div>

<style>
.content-box-3 p{
  margin-top:10px;
  margin-bottom:10px;
}
</style>
