<style>
.content-box-3 p{
  margin-top:10px;
  margin-bottom:10px;
}
</style>
<div style="width:95%; margin:0 auto;" class="content-box-3">
				<h2>Please Read our Legal Notices</h2>
				<p>
	Our legal notices section covers the following topic:</p>
<p>
	I. Terms of Service</p>
<p>
	II. Copyright Policy</p>
<p>
	III. Privacy Policy</p>
<p>
	IV. Disclaimer</p>
<p>
	PLEASE READ THIS AGREEMENT CAREFULLY BEFORE USING THE SERVICES. BY 
USING THE WEBSITE WWW.FINFORE.NET AND OTHER FEATURES, CONTENT, OR 
APPLICATIONS (COLLECTIVELY, THE "SITE") OFFERED BY FINFORE LIMITED. 
("FINFORE"), YOU SIGNIFY YOUR ASSENT TO BECOME BOUND BY THE TERMS AND 
CONDITIONS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO ALL THE TERMS AND 
CONDITIONS OF THIS AGREEMENT, YOU DO NOT HAVE ANY RIGHT TO USE THE 
SERVICES. FINFORE'S ACCEPTANCE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT
 TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, TO THE EXCLUSION OF 
ALL OTHER TERMS; IF THESE TERMS AND CONDITIONS ARE CONSIDERED AN OFFER 
BY FINFORE, ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.</p>
<p>
	FINFORE, ITS AFFILIATES AND PARTNERS, SHALL HAVE NO LIABILITY FOR 
INVESTMENT OR OTHER DECISIONS BASED UPON ANY CONTENT AND/OR DECISIONS 
BASED UPON ANY VIEW OF ANY CONTENT. THE CONTENT IS TO BE USED FOR 
INFORMATIONAL AND ENTERTAINMENT PURPOSES ONLY AND WE CANNOT PROVIDE 
INVESTMENT ADVICE . WE ADVISE THAT YOU CONTACT YOUR PROFESSIONAL 
FINANCIAL ADVISOR BEFORE MAKING ANY INVESTMENT RELATED TO ANY 
INFORMATION RECEIVED FROM THE SITE. FINFORE, ITS AFFILIATES AND PARTNERS
 SPECIFICALLY DISCLAIM ANY AND ALL LIABILITY OR LOSS ARISING OUT OF ANY 
ACTION TAKEN IN RELIANCE ON CONTENT, INCLUDING BUT NOT LIMITED TO MARKET
 VALUE OR OTHER LOSS ON THE SALE OR PURCHASE OF ANY COMPANY, PROPERTY, 
PRODUCT, SERVICE, SECURITY, INSTRUMENT, OR ANY OTHER MATTER.</p>
<p>

	I. Terms of Service</p>
<p>
	The purpose of the Site, owned and operated by Finfore Limited 
("Finfore"), a private company limited by shares in the United Kingdom, 
is to provide a personal browser for you to organize the content of 
social networking and other sites including Twitter, LinkedIn, Facebook,
 and others (the "Services"). This Agreement applies to all users of the
 Site and Services including users who contribute content, information 
and other materials or services on the Site. The Site is accessed by you
 ("User" or "you") under the following terms and conditions:</p>
<p>
	1. ACCESS TO THE SERVICES. Subject to the terms and conditions of this 
Agreement, Finfore may offer to provide the Services, as described more 
fully on the Site, and which are selected by you, solely for your own 
use, and not for the use or benefit of any third party. Services shall 
include, but not be limited to, any services Finfore performs for you, 
as well as the offering of any materials displayed or performed on the 
Site or the Services (including, but not limited to text, graphics, news
 articles, photographs, images, illustrations, audio clips and video 
clips, also known as the "Content"). Finfore may change, suspend or 
discontinue the Services including any Content for any reason, at any 
time, including the availability of any feature, database, or content. 
Finfore may also impose limits on certain features and services or 
restrict your access to parts or all of the Services without notice or 
liability. Finfore reserves the right, at its discretion, to modify this
 Agreement or Content at any time by posting a notice on the Site, or by
 sending you a notice via e-mail or postal mail. You shall be 
responsible for reviewing and becoming familiar with any such 
modifications. Your use of the Services following such notification 
constitutes your acceptance of the terms and conditions of this 
Agreement as modified.</p>
<p>
	You certify to Finfore that if you are an individual (i.e., not a 
corporation) you are at least 18 years of age. You also certify that you
 are legally permitted to use the Services and access the Site, and take
 full responsibility for the selection and use of the Services and 
access of the Site. This Agreement is void where prohibited by law, and 
the right to access the Site and use the Services is revoked in such 
jurisdictions.</p>
<p>
	Finfore will use reasonable efforts to ensure that the Site and 
Services are available twenty-four hours a day, seven days a week. 
However, there will be occasions when the Site and/or Services will be 
interrupted for maintenance, upgrades and emergency repairs or due to 
failure of telecommunications links and equipment. Every reasonable step
 will be taken by Finfore to minimize such disruption where it is within
 Finfore's reasonable control. YOU AGREE THAT NEITHER FINFORE NOR THE 
SITE WILL BE LIABLE IN ANY EVENT TO YOU OR ANY OTHER PARTY FOR ANY 
SUSPENSION, MODIFICATION, DISCONTINUANCE OR LACK OF AVAILABILITY OF THE 
SITE, THE SERVICES, YOUR USER CONTENT (AS DEFINED HEREIN) OR OTHER 
CONTENT.</p>
<p>
	You shall be responsible for obtaining and maintaining any equipment or
 ancillary services needed to connect to, access the Site or otherwise 
use the Services, including, without limitation, modems, hardware, 
software, and long distance or local telephone service. You shall be 
responsible for ensuring that such equipment or ancillary services are 
compatible with the Services.</p>
<p>
	2. CONTENT OF THE SITE AND SERVICES. You may, to the extent the Site 
expressly authorizes you to do so, download or copy software accessible 
from the Site or the Content, and other items displayed on the Site or 
Services for download, for personal use only, provided that you maintain
 all copyright and other notices contained in such Content; otherwise, 
you shall not store any significant portion of any Content in any form. 
Copying or storing of any Content for other than personal, noncommercial
 use is expressly prohibited without prior written permission from 
Finfore, or from the copyright holder identified in such Content's 
copyright notice. All trademarks, service marks, and trade names which 
appear on the Site or through the Services (other than those appearing 
in any Content posted by a User) are proprietary to Finfore and/or third
 parties. You shall abide by all copyright notices, information, and 
restrictions contained in any Content accessed through the Services.</p>
<p>
	You acknowledge and agree that if you use any of the Services to 
contribute Content to the Site or Services ("User Content"), you hereby 
do and shall grant Finfore a non-exclusive, worldwide, royalty-free, 
transferable, sublicensable right to use, modify, reproduce, distribute,
 prepare derivative works of, display, publish, perform and otherwise 
fully exploit such User Content (including all related intellectual 
property rights) in any media format and through any media channel and 
to allow others to do so. To the extent allowed by law, the foregoing 
includes all rights of paternity, integrity, disclosure and withdrawal 
and any other rights that may be known as or referred to as "Moral 
Rights." To the extent you retain any such Moral Rights under applicable
 law, you hereby ratify and consent to any action that may be taken with
 respect to such moral rights by Finfore and agree not to assert any 
Moral Rights with respect thereto. You also hereby do and shall grant 
each user of the Site and the Services a nonexclusive license to access 
your User Content through the Site and the Services and to use such User
 Content as permitted through the functionality of the Site and the 
Services and under this Agreement. You warrant, represent and agree that
 you have the right to grant Finfore and the Site the rights set forth 
above. You represent, warrant and agree that you will not contribute any
 User Content that (a) infringes, violates or otherwise interferes with 
any copyright or trademark of another party, (b) reveals any trade 
secret, unless you own the trade secret or have the owner's permission 
to post it, (c) infringes any intellectual property right of another or 
the privacy or publicity rights of another, (d) is libelous, defamatory,
 obscene, pornographic, abusive, indecent, threatening, harassing, 
hateful, offensive or otherwise violates any law or right of any third 
party, (e) contains a virus, trojan horse, worm, time bomb or other 
computer programming routine or engine that is intended to damage, 
detrimentally interfere with, surreptitiously intercept or expropriate 
any system, data or information, or (f) remains posted after you have 
been notified that such User Content violates any of sections (a) to (e)
 of this sentence.</p>
<p>
	Finfore reserves the right to remove any User Content from the Site and
 the Services at any time, for any reason (including, but not limited 
to, upon receipt of claims or allegations from third parties or 
authorities relating to such User Content or if Finfore is concerned 
that you may have breached the immediately preceding sentence), or for 
no reason at all. You understand that Finfore shall have the right to 
reformat, excerpt or translate any User Content submitted by you, that 
all information publicly or privately transmitted through the Site and 
the Services is the sole responsibility of the person from whom such 
information originated and the Finfore will not be liable for any errors
 or omissions in content, and that Finfore cannot guarantee the identity
 of any other Users with whom you may interact in the course of using 
the Site and the Services or the authenticity of data provided by other 
Users. You are responsible for all User Content posted or developed 
under your username, including User Content contributed by a third party
 whom you have authorized to post User Content under your username 
(whether in the form of comments to a Circle or any other form). If you 
believe User Content residing on the Site or the Services infringes a 
copyright, please see our Copyright Policy below.</p>
<p>
	Any comments, suggestions, or feedback relating to the Site or the 
Services (collectively "Feedback") submitted to Finfore shall become the
 property of Finfore or its designee. Finfore will not be required to 
treat any Feedback as confidential, and will not be liable for any ideas
 (including without limitation, product, Site or advertising ideas) and 
will not incur any liability as a result of any similarities that may 
appear in our future Site, Services, or operations. Without limitation, 
Finfore will have exclusive ownership of all present and future existing
 rights to the Feedback of every kind and nature everywhere and will be 
entitled to use the Feedback for any commercial or other purpose 
whatsoever, without compensation to you or any other person sending the 
Feedback. You acknowledge that you are responsible for whatever material
 you submit, and you, not Finfore, have full responsibility for the 
message, including its legality, reliability, appropriateness, 
originality, and copyright.</p>
<p>
	3. RESTRICTIONS. You are responsible for all of your activity in 
connection with the Services and accessing the Site. You may not post or
 transmit, or cause to be posted or transmitted, any communication or 
solicitation designed or intended to obtain password, account, or 
private information from any Finfore user.</p>
<p>
	You shall not use any part of the Site or Services to violate the 
security of any computer network, crack passwords or security encryption
 codes, transfer or store material that is deemed threatening or 
obscene, or engage in any kind of illegal activity. You will not run 
Maillist, Listserv, any form of auto-responder, or spam on the Site or 
through the Services.</p>
<p>
	4. WARRANTY DISCLAIMER. Finfore has no special relationship with or 
fiduciary duty to you. You acknowledge that Finfore has no control over,
 and no duty to take any action regarding: which users gain access to 
the Site or Services; what Content you access via the Site or Services; 
what effects the Content may have on you; how you may interpret or use 
the Content; or what actions you may take as a result of having been 
exposed to the Content. You release Finfore from all liability for your 
having acquired or not acquired Content through the Site. The Site or 
Services may contain, or direct you to sites containing, information 
that some people may find offensive or inappropriate. Finfore makes no 
representations concerning any content contained in or accessed through 
the Site or Services, and Finfore will not be responsible or liable for 
the accuracy, copyright compliance, legality or decency of material 
contained in or accessed through the Site. THE SERVICES, CONTENT, SITE 
AND ANY SOFTWARE ARE PROVIDED ON AN "AS IS" BASIS, WITHOUT WARRANTIES OF
 ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, 
IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR 
PURPOSE OR NON-INFRINGEMENT. SOME JURISDICTIONS DO NOT ALLOW LIMITATIONS
 ON HOW LONG AN IMPLIED WARRANTY LASTS, SO THE ABOVE LIMITATIONS MAY NOT
 APPLY TO YOU.</p>
<p>
	TO THE FULLEST EXTENT ALLOWED BY LAW, FINFORE DISCLAIMS ANY LIABILITY 
OR RESPONSIBILITY FOR THE ACCURACY, RELIABILITY, AVAILABILITY, 
COMPLETENESS, LEGALITY OR OPERABILITY OF THE MATERIAL OR SERVICES 
PROVIDED ON THIS SITE. BY USING THE SITE AND THE SERVICES, YOU 
ACKNOWLEDGE THAT FINFORE IS NOT RESPONSIBLE OR LIABLE FOR ANY HARM 
RESULTING FROM (1) USE OF THE SITE OR SERVICES; (2) DOWNLOADING 
INFORMATION CONTAINED ON THE SITE OR SERVICES; (3) UNAUTHORIZED 
DISCLOSURE OF IMAGES, INFORMATION OR DATA THAT RESULTS FROM THE UPLOAD, 
DOWNLOAD OR STORAGE OF CONTENT POSTED BY USERS; (4) THE TEMPORARY OR 
PERMANENT INABILITY TO ACCESS OR RETRIEVE ANY USER CONTENT FROM THE SITE
 OR SERVICES, INCLUDING, WITHOUT LIMITATION, HARM CAUSED BY VIRUSES, 
WORMS, TROJAN HORSES, OR ANY SIMILAR CONTAMINATION OR DESTRUCTIVE 
PROGRAM; (5) CONTENT POSTED IN ANY FORUM OR COMMUNITY AREA OF THE SITE 
OR SERVICES; AND (6) UNAUTHORIZED DISCLOSURE OF IMAGES, INFORMATION OR 
DATA THAT RESULTS FROM THE UPLOAD, DOWNLOAD OR STORAGE OF POSTED 
CONTENT.</p>
<p>
	5. THIRD PARTY WEBSITES. Users of the Site may gain access from the 
Site to third party sites on the Internet through hypertext or other 
computer links on the Site. Third party sites are not within the 
supervision or control of Finfore or the Site. Unless explicitly 
otherwise provided, neither Finfore nor the Site make any representation
 or warranty whatsoever about any third party site that is linked to the
 Site, or endorse the products or services offered on such site. Finfore
 and the Site disclaim: (a) all responsibility and liability for content
 on third party websites and (b) any representations or warranties as to
 (i) the security of any information (including, without limitation, 
credit card and other personal information) you might be requested to 
give any third party, and (ii) the functionality of third party sites if
 you export User Content onto them. You hereby irrevocably waive any 
claim against the Site or Finfore with respect to such sites and third 
party content.</p>
<p>
	6. REGISTRATION AND SECURITY. As a condition to using Services, you may
 be required to supply Finfore with certain registration information, 
including registration information for third party services you access 
through Finfore. You shall provide Finfore with accurate, complete, and 
updated registration information. Failure to do so shall constitute a 
breach of this Agreement, which may result in immediate termination of 
your access to and/or use of the Site or Services. You may not (i) 
select or use as your username a name of another person with the intent 
to impersonate that person; or (ii) use as your username a name subject 
to any rights of a person other than you without appropriate 
authorization; or (iii) use as your username a name that is otherwise 
offensive, vulgar or obscene. You shall never use another User's account
 or registration information, for Finfore or any third party services 
you access through Finfore, without permission. Finfore reserves the 
right to refuse registration of, or cancel a username in its discretion.
 You shall be responsible for maintaining the confidentiality of your 
Finfore password.</p>
<p>
	7. INDEMNITY. You will indemnify and hold Finfore, its directors, 
officers, employees, agents, and representatives harmless, including 
costs and attorneys' fees, from any claim or demand made by any third 
party due to or arising out of your access to the Site or use of the 
Services, your violation of this Agreement, or your infringement, or the
 infringement by any third party using your registration information, of
 any intellectual property or other right of any person or entity.</p>
<p>
	8. LIMITATION OF LIABILITY. IN NO EVENT SHALL FINFORE, ITS DIRECTORS, 
OFFICERS, SHAREHOLDERS, EMPLOYEES, MEMBERS, AGENTS AND REPRESENTATIVES 
BE LIABLE WITH RESPECT TO THE SITE OR THE SERVICES FOR (A) ANY INDIRECT,
 INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND WHATSOEVER; 
(B) DAMAGES FOR LOSS OF USE, PROFITS, DATA, IMAGES, USER CONTENT OR 
OTHER INTANGIBLES; (C) DAMAGES FOR UNAUTHORIZED USE, NON-PERFORMANCE OF 
THE SITE, ERRORS OR OMISSIONS; OR (D) DAMAGES RELATED TO DOWNLOADING OR 
POSTING CONTENT. FINFORE'S AND THE SITE'S COLLECTIVE LIABILITY UNDER 
THIS AGREEMENT SHALL BE LIMITED TO ONE HUNDRED ENGLISH POUNDS. SOME 
JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR 
CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATIONS AND EXCLUSIONS MAY NOT 
APPLY TO USER.</p>
<p>
	9. PAID SERVICES. Finfore offers certain paid services. When 
subscribing to Paid Services, you will be asked to provide us with 
certain information including, but not limited to, credit card 
information and a billing, and where applicable, shipping address. You 
agree to maintain and update all information as necessary so that it 
remains accurate and current. If the information you provided is found 
to be inaccurate or not current, we reserve the right to cancel your 
subscription to the Paid Services. If you wish to discontinue using the 
Paid Services you must notify customer service that you wish to cancel 
your subscription by sending <a href="mailto:info@finfore.net?subject=Legal%20Notices">an email</a>. Once we 
receive your cancellation request, your access to the specified Paid 
Service will be discontinued. You must provide us with notice prior to 
the subsequent renewal date and you will not be charged for future 
billing cycles. From time to time, Finfore may offer free trials Paid 
Services at no cost on a limited trial basis. Upon registering for such 
free trial you will be required to provide certain information 
including, but not limited to, credit card information and billing and 
shipping addresses. In the event that Finfore cancels any of the Paid 
Services that you are presently subscribed to, you agree that we may 
transfer your subscription to another Paid Service of equal or greater 
value. You may cancel your subscription to the new Paid Service at any 
time and receive a pro-rated refund. Finfore reserves the right to 
cancel your subscription for Paid Services at any time for any reason or
 no reason.</p>
<p>
	10. MOBILE SERVICE We currently intend that the Service will include 
certain services that are available via your mobile phone ("Mobile 
Services"). We do not currently intend to charge for these Mobile 
Services. However, your carrier's normal messaging, data and other rates
 and fees will still apply. You should check with your carrier to find 
out what plans are available and how much they cost. In addition, 
downloading, installing, or using certain Mobile Services may be 
prohibited or restricted by your carrier, and not all Mobile Services 
may work with all carriers or devices. Once Mobile Services are 
available, you should check with your carrier to find out if the Mobile 
Services will work with your mobile devices, and what restrictions, if 
any, may be applicable to your use of such Mobile Services. By using the
 Mobile Services, you agree that we may communicate with you by SMS, 
MMS, text message or other electronic means to your mobile device and 
that certain information about your usage of the Mobile Services may be 
communicated to us. In the event you change or deactivate your mobile 
telephone number, you agree to promptly update your Finfore account 
information to ensure that your messages are not sent to the person that
 acquires your old number.</p>
<p>
	11. TERMINATION. Either party may terminate the Services at any time by
 notifying the other party by any means. Finfore may also terminate or 
suspend any and all Services and access to the Site immediately, without
 prior notice or liability, if you breach any of the terms or conditions
 of this Agreement. Any fees paid hereunder are non-refundable. Upon any
 such termination, your right to use the Services, access the Site and 
any Content will immediately cease. All provisions of this Agreement 
which by their nature should survive termination shall survive 
termination, including, without limitation, ownership provisions, 
warranty disclaimers, and limitations of liability.</p>
<p>
	12. PRIVACY. Please review our Privacy Policy, which governs the use of
 personal information by Finfore and to which you agree to be bound as a
 user of the Site and Services.</p>
<p>
	13. DISPUTE RESOLUTION. A printed version of this Agreement and of any 
notice given in electronic form shall be admissible in judicial or 
administrative proceedings based upon or relating to this Agreement to 
the same extent and subject to the same conditions as other business 
documents and records originally generated and maintained in printed 
form. You and Finfore agree that any cause of action arising out of or 
related to the Site or Services must commence within one (1) year after 
the cause of action arose; otherwise, such cause of action is 
permanently barred.</p>
<p>
	This Agreement shall be governed by and construed in accordance with 
the laws of the United Kingdom, excluding its conflicts of law rules, 
and the United Kingdom. Any dispute arising from or relating to the 
subject matter of this Agreement shall be finally settled by arbitration
 in the United Kingdom. The prevailing party in the arbitration shall be
 entitled to receive reimbursement of its reasonable expenses (including
 reasonable attorneys' fees, expert witness fees and all other expenses)
 incurred in connection therewith. Judgment upon the award so rendered 
may be entered in a court having jurisdiction or application may be made
 to such court for judicial acceptance of any award and an order of 
enforcement, as the case may be. Notwithstanding the foregoing, each 
party shall have the right to institute an action in a court of proper 
jurisdiction for injunctive or other equitable relief pending a final 
decision by the arbitrator. For all purposes of this Agreement, the 
parties consent to exclusive jurisdiction and venue in the United 
Kingdom. Use of the Site and Services is not authorized in any 
jurisdiction that does not give effect to all provisions of this 
Agreement, including without limitation, this section.</p>
<p>
	14. MISCELLANEOUS. The failure of either party to exercise in any 
respect any right provided for herein shall not be deemed a waiver of 
any further rights hereunder. Finfore shall not be liable for any 
failure to perform its obligations hereunder where such failure results 
from any cause beyond Finfore's reasonable control, including, without 
limitation, mechanical, electronic or communications failure or 
degradation. If any provision of this Agreement is found to be 
unenforceable or invalid, that provision shall be limited or eliminated 
to the minimum extent necessary so that this Agreement shall otherwise 
remain in full force and effect and enforceable. This Agreement is not 
assignable, transferable or sublicensable by you except with Finfore's 
prior written consent. Finfore may transfer, assign or delegate this 
Agreement and its rights and obligations without consent. Both parties 
agree that this Agreement (including the Privacy Policy) is the complete
 and exclusive statement of the mutual understanding of the parties and 
supersedes and cancels all previous written and oral agreements, 
communications and other understandings relating to the subject matter 
of this Agreement. No agency, partnership, joint venture, or employment 
is created as a result of this Agreement and you do not have any 
authority of any kind to bind Finfore in any respect whatsoever. Any 
notice to the Site that is required or permitted by this Agreement shall
 be in writing and shall be deemed effective upon receipt, when sent by 
confirmed <a href="mailto:info@finfore.net?subject=Legal%20Notices">email</a> or when delivered in person by 
nationally recognized overnight courier or mailed by first class, 
registered or certified mail, postage prepaid, to Finfore Limited, c/o 
Givedon, 90-100 Sydney Street, 1st Floor EMPGI London, SW3 6NJ United 
Kingdom.</p>
<p>
	Finfore has adopted the following general policy toward copyright 
infringement in accordance with the Digital Millennium Copyright Act 
(http://lcweb.loc.gov/copyright/legislation/dmca.pdf) and other 
applicable laws. The address of Finfore's Designated Agent to Receive 
Notification of Claimed Infringement ("Designated Agent") is listed at 
the end of this policy.</p>
<p>
	It is Finfore's policy to</p>
<p>
	(1) block access to or remove Content that it believes in good faith to
 be copyrighted material that has been illegally copied and distributed 
by any of our advertisers, affiliates, content providers, members or 
Users; and</p>
<p>
	(2) remove and discontinue service to repeat offenders.</p>
<p>
	If you believe that Content residing on or accessible through Finfore 
Site or Service infringes a copyright, please send a notice of copyright
 infringement by facsimile or regular mail (not e-mail) to Finfore Limited, 
Attn: Copyright Agent, c/o Givedon, 90-100 Sydney Street, 1st Floor 
EMPGI London, SW3 6NJ United Kingdom, containing the following 
information:</p>
<p>
	* A physical or electronic signature of a person authorized to act on 
behalf of the owner of the copyright that has been allegedly infringed;</p>
<p>
	* Identification of works or materials being infringed;</p>
<p>
	* Identification of the Content that is claimed to be infringing 
including information regarding the location of the Content that the 
copyright owner seeks to have removed, with sufficient detail so that 
Finfore is capable of finding and verifying its existence;</p>
<p>
	* Contact information about the notifier including address, telephone 
number and, if available, e-mail address;</p>
<p>
	* A statement that the notifier has a good faith belief that the 
Content is not authorized by the copyright owner, its agent, or the law;
 and</p>
<p>
	* A statement made under penalty of perjury that the information 
provided is accurate and the notifying party is authorized to make the 
complaint on behalf of the copyright owner.</p>
<p>
	Once proper infringement notification is received by the Designated 
Agent, it is Finfore's policy to remove or disable access to the 
infringing Content and to notify the Content provider or User that it 
has removed or disabled access to the Content; that repeat offenders 
will have the infringing Content removed from the Service and that 
Finfore will terminate such content provider's or User's access to the 
Site and the Service.</p>
<p>
	In the event that Finfore notifies User that Finfore has received 
proper infringement notification about User's Content, User may elect to
 send Finfore a counter notice.</p>
<p>
	Please note that under Section 512(f) of the Copyright Act, any person 
who knowingly materially misrepresents that material or activity was 
removed or disabled by mistake or misidentification may be subject to 
liability.</p>
<p>
	The process for counter-notifications is governed by Section 512(g) of 
the Digital Millennium Copyright Act: 
http://www.copyright.gov/legislation/dmca.pdf</p>
<p>
	To file a counter notification with Finfore, User must provide the 
following items to us in writing:</p>
<p>
	1. The specific URLs of material that Finfore has removed or to which 
Finfore has disabled access.</p>
<p>
	2. User's name, address, telephone number, and email address.</p>
<p>
	3. A statement that User consent to the jurisdiction of the United 
Kingdom, and that User will accept service of process from the person 
who provided notification under subsection (c)(1)(C) or an agent of such
 person.</p>
<p>
	4. The following statement: "I swear, under penalty of perjury, that I 
have a good faith belief that the material was removed or disabled as a 
result of a mistake or misidentification of the material to be removed 
or disabled."</p>
<p>
	5. User's signature.</p>
<p>
	Send the written communication to the following address:</p>
<p>
	
	Finfore Limited</p>
<p>
	Albany House</p>
<p>
	324-326 Regent Street</p>
<p>
	4th floor</p>
<p>
	London, W1B 3HH</p>
<p>
	United Kingdom</p>
<p>
	<a href="mailto:info@finfore.net?subject=Legal%20Notices">Email</a></p>
<p>
	After we receive User's counter-notification, we will forward it to the
 party who submitted the original claim of copyright infringement. 
Please note that when we forward the counter-notification, it includes 
User's personal information. By submitting a counter-notification, User 
consents to having User's information revealed in this way. We will not 
forward the counter-notification to any party other than the original 
claimant.</p>
<p>
	After we send out the counter-notification, the claimant must notify us
 within ten (10) days that he or she has filed an action seeking a court
 order to restrain you from engaging in infringing activity relating to 
the material on Finfore. If we receive such notification we will not 
display, distribute or otherwise exploit the material. If we do not 
receive such notification, we may elect to do so.</p>
<p>
	III. Privacy Policy</p>
<p>
	Finfore Limited ("Finfore") knows that you care about how your personal 
information is used and shared, and we take your privacy seriously. 
Please read the following to learn more about our privacy policy. By 
visiting the Finfore website located at www.finfore.net and any linked 
pages, features, content, or application services offered from time to 
time by Finfore in connection therewith (the "Site") and using Finfore 
services (the "Services"), you acknowledge that you accept the practices
 and policies outlined in this Privacy Policy.</p>
<p>
	1. WHAT DOES THIS PRIVACY COVER? This Privacy Policy covers Finfore's 
treatment of personal information that Finfore gathers when you are on 
the Site and when you use the Services. This policy also covers 
Finfore's treatment of any personal information that Finfore's business 
partners share with Finfore.</p>
<p>
	This policy does not apply to the practices of third parties that 
Finfore does not own or control, including but not limited to third 
party services you access though Finfore, or to individuals that Finfore
 does not employ or manage.</p>
<p>
	2. WHAT PERSONAL INFORMATION ABOUT CUSTOMERS DOES FINFORE COLLECT? Our 
primary goal in collecting personal information is to provide you with a
 friendly, customized, and efficient experience. We collect the 
following types of information from our users:</p>
<p>
	A. INFORMATION YOU PROVIDE TO US. We receive and store any information 
you enter on the Site or through the Services or provide to us in any 
other way. You can choose not to provide us with certain information, 
but then you may not be able to take advantage of many of the features 
of our Site and Services. The personal information you provide may be 
used for such purposes as responding to your requests for certain 
services, customizing the content you see, and communicating with you 
about specials and new products. In order for you to take full advantage
 of our Site and Services, you must provide registration information, 
including an e-mail address, password and, in certain circumstances, 
registration information for the third party services you access through
 Finfore. We may also request demographic information and unique 
identifiers in order to provide you with a more personalized service, 
but this information is optional. To the extent you provide Finfore with
 personal information, you are not anonymous to us.</p>
<p>
	B. AUTOMATIC INFORMATION. We may receive and store certain types of 
information whenever you interact with us. Finfore may automatically 
receive and record information on our server logs from your browser 
including your IP address, Finfore cookie information, and the 
information you request. Finfore may use this traffic data to help 
diagnose problems with its server, analyze trends and administer the 
Site and Services. Our service may automatically collect usage 
information, such as the numbers and frequency of visitors to our Site 
and Services and their components, similar to TV ratings that indicate 
how many people watched a particular show. Finfore may use this data in 
aggregate form, that is, as a statistical measure, but not in a manner 
that would identify you personally. This type of aggregate data may 
enable us to figure out how often customers use parts of the Site and 
Services, so we can make the Site and Services appealing to as many 
users as possible. As part of this use of information, we may provide 
aggregate information, not information about you personally, to our 
partners about how our users, collectively, use our Site and Services. 
If we share this type of statistical data, we do so so that our partners
 can understand how often people use their areas of our Site and 
Service, so that they, too, may provide you with an optimal Finfore 
experience.</p>
<p>
	C. EMAIL COMMUNICATIONS. We may receive a confirmation when you open an
 e-mail from Finfore if your computer supports this type of program, in 
order to help us make e-mails more interesting and helpful. We may also 
send out e-mails with news or promotions. If you do not want to receive 
promotional e-mail from us, please <a href="mailto:info@finfore.net?subject=Legal%20Notices">contact us</a>.</p>
<p>
	D. INFORMATION FROM OTHER SOURCES. For purposes such as improving 
personalization of our service, we may receive information about you 
from other sources. Like the information you provide to us, we do not 
share this information with anyone except authorized third parties in 
connection with providing you with our Services.</p>
<p>
	3. WHAT ABOUT COOKIES? Cookies are alphanumeric identifiers that we may
 transfer to your computer's hard drive through your Web browser to 
enable our systems to recognize your browser and tell us how and when 
pages in our Site are visited and by how many people. To the extent 
Finfore uses cookies, such cookies do not collect personal information, 
and we do not combine information collected through cookies with other 
personal information to tell us who you are or what your username or 
e-mail address is; we use cookies to enhance users' experiences, to 
learn more about their use of the Site and Services and to improve 
quality. Most browsers have an option for turning off the cookie 
feature, which will prevent your browser from accepting new cookies, how
 to command the browser to tell you when you receive a new cookie, or 
how to fully disable cookies, as well as (depending on the 
sophistication of your browser software) allowing you to decide on 
acceptance of each new cookie in a variety of ways. We strongly 
recommend that you leave the cookies activated, however, because 
deleting cookies may reduce the functionality of Finfore. Ads may appear
 on the Site or the Services, and advertisers may set cookies. These 
cookies allow the ad server to recognize your computer each time they 
send you an online advertisement to compile information about you or 
others who use your computer. This information allows ad networks to, 
among other things, deliver targeted advertisements that they believe 
will be of most interest to you. This Privacy Policy covers the use of 
cookies by Finfore and does not cover the use of cookies, if any, by 
advertisers.</p>
<p>
	4. WILL FINFORE SHARE ANY OF THE INFORMATION IT RECEIVES? Information 
about our users is important to our business. We neither rent nor sell 
your personal information to anyone. We share your personal information 
only as described below.</p>
<p>
	A. AFFILIATED BUSINESS WE DO NOT CONTROL. In certain situations, 
Finfore may provide services, or sell products jointly with affiliated 
businesses. We will share customer information that is related to such 
transactions with that affiliated business. We require our affiliates to
 provide the same level of privacy protection that we do and they do not
 have the right to share or use personal information for any purpose 
other than for an authorized transaction.</p>
<p>
	B. AGENTS. We employ other companies and people to perform tasks on our
 behalf and need to share your information with them to provide products
 or services to you. Examples include removing repetitive information 
from user lists, analyzing data, providing marketing assistance, and 
providing customer service. Our agents subscribe to the same level of 
privacy protection as we do. Unless we tell you differently, Finfore's 
agents do not have any right to use the personal information we share 
with them beyond what is necessary to assist us.</p>
<p>
	C. INFORMATION YOU POST. When you post a message through Finfore, 
information about you, including user profile information, may be 
visible to other users. If you post personal information online that is 
accessible to the public, that information becomes publicly available 
and can be collected and used by others and redistributed through the 
internet and other media channels. You may receive unsolicited messages 
from other parties in return.</p>
<p>
	D. PROMOTIONAL OFFERS. We may send offers to certain users on behalf of
 other businesses. However, when we do so, we do not give the other 
business your name and address. If you do not wish to receive these 
offers, please <a href="mailto:info@finfore.net?subject=Legal%20Notices">email us</a>.</p>
<p>
	E. BUSINESS TRANSFERS. In some cases, we may choose to buy or sell 
assets. In these types of transactions, customer information is 
typically one of the business assets that is transferred. Moreover, if 
Finfore, or substantially all of its assets, were acquired, or in the 
unlikely event that Finfore goes out of business or enters bankruptcy, 
customer information would be one of the assets that is transferred to 
or acquired by a third party. You acknowledge that such transfers may 
occur, and that any acquirer of Finfore may continue to use your 
personal information as set forth in this policy.</p>
<p>
	F. PROTECTION OF FINFORE AND OTHERS. We may release personal 
information when we believe in good faith that release is necessary to 
comply with the law; enforce or apply our conditions of use and other 
agreements; or protect the rights, property, or safety of Finfore, our 
employees, our users, or others. Finfore may disclose personal 
information to parties in compliance with Finfore's Copyright Policy, as
 Finfore in its sole discretion believes necessary or appropriate in 
connection with an investigation of fraud, intellectual property 
infringement, piracy, or other unlawful activity. In such events, 
Finfore may disclose name, address, country, phone number, and e-mail 
address.</p>
<p>
	G. WITH YOUR CONSENT. Except as set forth above, you will be notified 
when your personal information may be shared with third parties, and you
 will be able to prevent the sharing of this information.</p>
<p>
	5. IS INFORMATION ABOUT ME SECURE? Information you provide to Finfore 
related to third party services you access through the Services is 
protected by the privacy policies and procedures of such third party 
services. You need to work to protect against unauthorized access to 
your passwords for those services and to your computer by signing off 
once you have finished using a shared computer. [We use 
industry-standard Secure Socket Layer (SSL) software to protect the 
security of your personal information during transmission, which 
encrypts all of the information you input.] Only employees who need 
personal information to perform a specific job (for example, a customer 
service representative) are granted access to it. All of our employees 
are kept up to date on our privacy and security practices.</p>
<p>
	6. WHAT INFORMATION CAN I ACCESS? Finfore may allow you to access the 
following information about you for the singular purpose of viewing, and
 in certain situations, updating that information.</p>
<p>
	You may be able to add or update certain information via the Site or 
Services. When you update information, however, we often maintain a copy
 of the unrevised information in our records.</p>
<p>
	You may delete the Finfore software from your computer if you wish to 
cease using Finfore's Services. Please note that information may remain 
in our records after deletion of such software.</p>
<p>
	To the extent your e-mail address is provided to Finfore, you may 
receive e-mail or other communications from us. Please note that if you 
do not want to receive legal notices from us, such as this Privacy 
Policy, those legal notices will still govern your use of the Site and 
Services, and you are responsible for reviewing such legal notices for 
changes. As explained earlier, the "help" portion of the toolbar on the 
majority of browsers will direct you on how to prevent your browser from
 accepting new cookies, how to command the browser to tell you when you 
receive a new cookie, or how to fully disable cookies. Please note, 
however, that if do not allow cookies, you will not be able to take 
advantage of some of our features.</p>
<p>
	As stated previously, you can always opt not to disclose information, 
even though it may be needed to take advantage of certain Finfore 
features.</p>
<p>
	7. CAN CHILDREN USE FINFORE'S SERVICES? Finfore is not intended for 
children. Any registration by, use of or access to the Service by anyone
 under 18 is unauthorized, unlicensed and in violation of these Terms of
 Use. By using the Service, you represent and warrant that you are 18 or
 older, and that you agree to and to abide by all of the terms and 
conditions of these Terms of Use.</p>
<p>
	8. THIRD PARTY SITES. The Site and Services may permit you to access or
 link to third party websites and information on the Internet, and other
 websites may contain links to the Site. These other websites and 
services are not under Finfore's control. The privacy and security 
practices of websites accessed from the Site are not covered by this 
Privacy Policy, and Finfore is not responsible for the privacy or 
security practices or the content of such websites, including but not 
limited to the third party services you access through Finfore.</p>
<p>
	9. CHANGES TO THIS PRIVACY POLICY. Finfore may amend this Privacy 
Policy. Use of information we collect now is subject to the Privacy 
Policy in effect at the time such information is used. If we make 
changes to our privacy policy, we will notify you by posting an 
announcement on our Site so you are always aware of what information we 
collect, how we use it, and under what circumstances if any, it is 
disclosed.</p>
<p>
	QUESTIONS. If you have any questions or concerns regarding privacy at 
Finfore, please send us a detailed <a href="mailto:info@finfore.net?subject=Legal%20Notices">message</a> or to 
Finfore Limited, Albany House, 324-326 Regent Street, 4th floor, 
London, W1B 3HH United Kingdom. Your privacy is important to us and we 
will make every effort to resolve your concerns.</p>
<p>
	<strong>IV. Disclaimer</strong></p>
<p>
	The Company, its affiliates, and partners are not responsible or liable
 in any manner for any Content posted on the Service, whether posted or 
caused by Users, by Finfore, by third parties or by any of the equipment
 or programming associated with or utilized in the Service. Although we 
provide rules for User conduct and postings, we do not control and are 
not responsible for what Users post, transmit or share on the Service 
and are not responsible for any inaccurate, offensive, inappropriate, 
obscene, unlawful or otherwise objectionable Content you may encounter 
on the Service. The Company, its affiliates and partners are not 
responsible for the conduct, whether online or offline, of any User.</p>
<p>
	The Service may be temporarily unavailable from time to time for 
maintenance or other reasons. The Company assumes no responsibility for 
any error, omission, interruption, deletion, defect, delay in operation 
or transmission, communications line failure, theft or destruction or 
unauthorized access to, or alteration of, User Content. The Company is 
not responsible for any technical malfunction or other problems of any 
telephone network or service, computer systems, servers or providers, 
computer or mobile phone equipment, or software on account of technical 
problems or traffic congestion on the Internet or at any site or with 
respect to the Service or combination thereof, including injury or 
damage to User's or to any other person's computer, mobile phone, or 
other hardware or software, related to or resulting from using or 
downloading Content in connection with the Web and/or in connection with
 the Service. Under no circumstances will the Company be responsible for
 any loss or damage, including any loss or damage to any User Content or
 personal injury or death, resulting from anyone's use of the Service or
 any posted on or through the Service or transmitted to or by Users, or 
any interactions between Users, whether online or offline.</p>
<p>
	The Service may provide information from or links to certain brokerage 
companies for your convenience only. Finfore is not a registered 
broker-dealer and does not endorse or recommend the services of any 
brokerage company. The brokerage company you select (and not Finfore) is
 solely responsible for its services to you. FINFORE, ITS AFFILIATES, 
AND PARTNERS SHALL NOT BE LIABLE FOR ANY DAMAGES OR COSTS OF ANY TYPE 
ARISING OUT OF OR IN ANY WAY CONNECTED WITH YOUR USE OF THE SERVICES OF 
ANY BROKERAGE COMPANY.</p>
<p>
	THE SERVICE AND THE CONTENT ARE PROVIDED "AS-IS" AND THE COMPANY, ITS 
PARTNERS AND AFFILIATES, DISCLAIM ANY AND ALL REPRESENTATIONS AND 
WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF 
TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR 
NON-INFRINGEMENT. THE COMPANY CANNOT GUARANTEE AND DOES NOT PROMISE ANY 
SPECIFIC RESULTS FROM USE OF THE SERVICE. THE COMPANY DOES NOT REPRESENT
 OR WARRANT THAT SOFTWARE, CONTENT OR MATERIALS ON THE SERVICE OR 
ELSEWHERE ARE ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE OR 
THAT THE SERVICE OR ANY OF THE SERVERS USED TO OPERATE THE SERVICE ARE 
FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THEREFORE, YOU SHOULD 
EXERCISE CAUTION IN THE USE AND DOWNLOADING OF ANY CONTENT OR MATERIALS 
AND USE INDUSTRY-RECOGNIZED SOFTWARE TO DETECT AND DISINFECT VIRUSES. 
WITHOUT LIMITING THE FOREGOING, YOU UNDERSTAND AND AGREE THAT YOU 
DOWNLOAD OR OTHERWISE OBTAIN CONTENT, DATA OR OTHER MATERIAL FROM OR 
THROUGH THE SERVICE AT YOUR OWN DISCRETION AND RISK AND THAT YOU WILL BE
 SOLELY RESPONSIBLE FOR YOUR USE THEREOF AND ANY DAMAGES TO YOUR MOBILE 
DEVICE OR COMPUTER SYSTEM, LOSS OF DATA OR OTHER HARM OF ANY KIND THAT 
MAY RESULT.</p>
<p>
	The Company reserves the right to change any and all Content, software 
and other items used or contained in the Service at any time without 
notice. Reference to any products, services, processes or other 
information, by trade name, trademark, manufacturer, supplier or 
otherwise does not constitute or imply endorsement, sponsorship or 
recommendation thereof, or any affiliation therewith, by the Company.</p>
<p>
	You understand that all postings, messages, text, images or other 
materials ("Content") posted or published on, uploaded to, transmitted 
through, or linked from (hereinafter, "post" or "posted"), the Service 
are the sole responsibility of the person from whom such Content 
originated. You understand that Finfore does not control, and is not 
responsible for, Content made available through the Service, and that by
 using the Service, you may be exposed to Content that is offensive, 
indecent, inaccurate, misleading, or otherwise objectionable. 
Furthermore, the Site and Content available through the Service may 
contain links to other websites which are completely independent of 
Finfore. Finfore makes no representation or warranty as to the accuracy,
 completeness or authenticity of the information contained in any such 
site. Your linking to any other webites is at your own risk. You agree 
that you must evaluate, and bear all risks associated with, the use of 
any Content, that you may not rely on said Content, and that under no 
circumstances will Finfore, its affiliates, or partners be liable in any
 way for any Content or for any loss or damage of any kind incurred as a
 result of the use of any Content posted or otherwise made available via
 the Service. You acknowledge that Finfore does not pre-screen or 
approve Content, but that Finfore shall have the right (but not the 
obligation) in its sole discretion to refuse, delete or remove any 
Content that is available via the Service, in connection with violations
 of the letter or spirit of the Terms of Use or for any other reason.</p>
<p>
	Finfore, its affiliates and partners, shall have no liability for 
investment or other decisions based upon any Content and/or decisions 
based upon any view of any Content. The Content is to be used for 
informational and entertainment purposes only and we cannot provide 
investment advice . We advise that you contact your professional 
financial advisor before making any investment related to any 
information received from the Site. Finfore, its affiliates and partners
 specifically disclaim any and all liability or loss arising out of any 
action taken in reliance on Content, including but not limited to market
 value or other loss on the sale or purchase of any company, property, 
product, service, security, instrument, or any other matter.</p>
<p>
	The video content associated with Finfore (the "Video Content") is 
posted solely for informational and entertainment purposes only. In no 
way should the Video Content be construed to be personal investment 
advice, nor should you rely solely on the Video Content for your 
investment strategy. By using our Service, you agree that you alone bear
 responsibility for your own investment research, analysis and 
decisions. We believe that the contributors to our Video Content, and to
 our Content generally, are interesting and insightful but we do not 
vet, take responsibility for or make any claims with respect to the 
accuracy, reliability or completeness of the data, information and/or 
opinions provided by such contributors. We advise that you contact your 
professional financial advisor before making any investment based on the
 Video Content received from the Site. Finfore, its affiliates and 
partners specifically disclaim any and all liability or loss arising out
 of any action taken in reliance on Video Content, including but not 
limited to market value or other loss on the sale or purchase of any 
company, property, product, service, security, instrument, or any other 
matter. The Video Content and all rights associated with such Video 
Content, intellectual and other, are the property of Finfore, its 
affiliates, or partners. Users may not alter, in any way, the Video 
Content. Users are also restricted from embedding the Video Content in 
any other website without prior consent from Finfore. In no instance 
shall Finfore consent to embedding the Video Content in any website that
 hosts unlawful, indecent, defamatory, libelous, offensive, pornographic
 or hateful links to illegal or infringing content, or to content that 
is otherwise objectionable to Finfore at its sole discretion.</p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
				<p><br></p>
							
</div>
