#admin
#main{:style => "margin: 0px auto;padding:0px;"}
  .block
    .block-header
      Term of Condition
    #block-table.block-main
      %p  
      %p Access to and use of the site is subject to the our terms and conditions. By proceeding further you are signalling your acceptance of them to Finfore Limited.
      %p  
      %p The contents of this site are provided for information only and are not intended for distribution in any jurisdiction in which such distribution may be forbidden or restricted. Users are required to inform themselves of those restrictions and act in accordance with them.
      %p  
      %p Users should not proceed in this site if in any doubt about the propriety of its use.
      %p  
      %p Nothing in this site is intended to constitute an offer to purchase securities or enter any other binding arrangement.
      %p  
      %p Unless otherwise stated, all information, graphics, text, images, logos and all other materials contained on this website are protected by Copyright and other proprietary rights. Such information may be reproduced for personal use without further permission. For permission to reproduce material contained on this website for any purpose other than personal use, please contact Finfore Limited.
      %p  
      %p The listing of a person or organisation in any part of this website does not imply any endorsement, direct or indirect, by  Finfore Limited of the products or services provided by such person or organisation.
      %p  
      %p Links to other external websites are inserted for convenience. Finfore Limited is not responsible for the content of any external websites and neither endorses nor makes any warranty, express or implied, regarding any external website (or its contents) that is linked to or referred to on this website.
      %p  
      %p Finfore Limited maintains the right to delete or modify in part or in full any information on this site without prior notice.
      %p  
      %p The terms and conditions should be read in conjunction with each page on this website. Please review the full details of our Terms of Service. If you do not agree with any of them, please leave our site.
      %p  
      %p#choosen{:style => "text-align:center;"}
        %a{:href => "#choosen", :onclick => "javascript:accept_toc();"} [ I agree ]
        \     
        - unless params[:reject]
          %a{:href => "#choosen", :onclick => "javascript:reject_toc();"} [ I disagree ]