<p id="notice"><%= notice %></p>

<p>
  <b>Keywords:</b>
  <%= @scanner_task.keywords %>
</p>


<%= link_to 'Edit', edit_scanner_task_path(@scanner_task) %> |
<%= link_to 'Back', scanner_tasks_path %>
