<div id="menu">
  <input type="text" id="search" value=""></input><span id="search-tag">Search</span>

  <ul id="menu-v-items">
    <li>
      <%=  image_tag("button-write-article.jpg", {:border => 0}) %>
      <%=  image_tag("blue/button-write-article-selected.jpg", {:border => 0, :class => "hover"}) %>
    </li>
    <li>
      <%=  image_tag("button-create-new-page.jpg", {:border => 0}) %>
      <%=  image_tag("blue/button-create-new-page-selected.jpg", {:border => 0, :class => "hover"}) %>
    </li>
  </ul>
</div>