#menu
%input#search{:type => "text", :value => ""}
%span#search-tag Search
%ul#menu-v-items
  %li
    = image_tag("button-write-article.jpg", {:border => 0})
    = image_tag("blue/button-write-article-selected.jpg", {:border => 0, :class => "hover"})
  %li
    = image_tag("button-create-new-page.jpg", {:border => 0})
    = image_tag("blue/button-create-new-page-selected.jpg", {:border => 0, :class => "hover"})